In [1]:
import pandas as pd

df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [2]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [3]:
df.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [4]:
df.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [5]:
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [6]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [7]:
df.isnull().sum()  # null value is not present in the dataset

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
df.groupby(['SepalLengthCm','SepalWidthCm']).mean()

                               Id  PetalLengthCm  PetalWidthCm
SepalLengthCm SepalWidthCm
4.3           3.0            14.0            1.1           0.1
4.4           2.9             9.0            1.4           0.2
              3.0            39.0            1.3           0.2
              3.2            43.0            1.3           0.2
4.5           2.3            42.0            1.3           0.3
...                           ...            ...           ...
7.7           2.6           119.0            6.9           2.3
              2.8           123.0            6.7           2.0
              3.0           136.0            6.1           2.3
              3.8           118.0            6.7           2.2
7.9           3.8           132.0            6.4           2.0

[116 rows x 3 columns]

In [9]:
first_5 = df.head()
last_5 = df[145:]
combined = pd.concat([first_5,last_5], axis = 0)

In [10]:
combined

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
combined = pd.concat([first_5,last_5], axis = 1) #checking working
combined

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,NaN,NaN,NaN,NaN,NaN,NaN,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,NaN,NaN,NaN,NaN,NaN,NaN,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,NaN,NaN,NaN,NaN,NaN,NaN,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,NaN,NaN,NaN,NaN,NaN,NaN,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
df['SepalLengthCm'].astype(int)

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLengthCm, Length: 150, dtype: int32